---
http_interactions:
- request:
    method: get
    uri: https://api.lionshare.capital/api/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '48'
      Rate-Limit-Reset:
      - '1494502203'
      Rate-Limit-Total:
      - '50'
    body:
      encoding: UTF-8
      string: '{"data":{"42":58372,"611":14162,"808":48263,"888":14378,"1337":151283,"BTC":29885220953,"ETH":8352719910,"XRP":6770592133,"LTC":1666451591,"XEM":1001061000,"DASH":679816422,"ETC":596283018,"XMR":424496979,"XLM":283828600,"REP":192839900,"GNT":191794720,"STEEM":187589077,"MAID":136302451,"DOGE":133270441,"STRAT":127214402,"GNO":126104413,"ZEC":123713146,"WAVES":115451000,"BTS":98235296,"BCN":96718023,"DGD":83957000,"SNGLS":77533800,"DCR":76544302,"FCT":75827210,"ARDR":62374931,"ICN":61536057,"USDT":60966907,"GAME":60841963,"PIVX":59476164,"SC":59220406,"LSK":58630700,"PPC":52484087,"BCC":48096394,"RLC":42460597,"NXT":41404553,"GBYTE":38997234,"ROUND":36047820,"1ST":32949641,"NMC":32665441,"SYS":32476554,"KMD":27825450,"MLN":25471743,"EMC":24863932,"SJCX":24367321,"ANS":23626150,"NXS":23589500,"LKK":22200567,"XCP":22154386,"XAUR":21721290,"ARK":21280360,"TKN":20081251,"WINGS":19125009,"BTCD":18484088,"NLG":16416143,"GRC":16365396,"NAV":15848741,"YBC":15436980,"TRST":15266629,"BCY":15021316,"BAY":14573311,"DGB":14219085,"POT":13467650,"TIME":13196168,"AGRS":12456822,"SWT":12013971,"AMP":11830763,"CRB":11759499,"GUP":11642100,"BLK":11094552,"XZC":10965298,"EAC":10764982,"EDG":10699387,"ZCL":10620536,"UBQ":10269830,"GCR":9861355,"IOC":9830245,"VSL":9570818,"RBY":9312777,"CRW":8742551,"SKY":8594134,"NVC":8590737,"B@":8369793,"BURST":8345661,"NXC":8210427,"MONA":8176280,"CLAM":8131167,"BLOCK":7845825,"VASH":7825601,"LBC":7778790,"VTC":7750466,"EXP":7107313,"SLR":7006317,"RADS":6652196,"ION":6531163,"WCT":6487100,"UNITY":6383327,"OMNI":6266998,"XBC":5944992,"NAUT":5892675,"HEAT":5700546,"TIPS":5678491,"PEPECASH":5665404,"XPM":5574367,"LUN":5338097,"PASC":5221552,"MUE":5155932,"XAS":5136630,"BELA":5049049,"SIB":4814569,"VIA":4807413,"AC":4739858,"NOTE":4401308,"LMC":4362164,"MUSE":4334955,"FTC":4283479,"VRC":4258796,"DAR":4211895,"AEON":4124632,"ENRG":4050261,"POSW":4034576,"NEOS":3830081,"SHIFT":3707608,"PINK":3683875,"GAM":3663194,"INCNT":3541439,"MEC":3429892,"GOLOS":3391132,"EDR":3292941,"FRST":3176837,"FAIR":3118997,"FLDC":3034042,"PLU":3010180,"XVC":2959888,"EMC2":2867982,"AUR":2842173,"DBIX":2799498,"JNS":2795183,"SPR":2746625,"FLO":2736333,"SDC":2685011,"SPHR":2661755,"XBY":2562749,"MGC":2458153,"WDC":2457056,"IFC":2435400,"SAFEX":2428503,"SCOT":2395910,"CLOAK":2307912,"UNO":2220637,"CURE":2178247,"YOC":2172072,"OBITS":2126045,"RDD":2064842,"BTM":2021451,"EMV":2014686,"TX":2012872,"QRK":1955172,"ZENI":1916194,"BITCNY":1907453,"VRS":1899821,"SBD":1845140,"ARC":4257380,"DMD":1823730,"RIC":1819299,"XDN":1771664,"DGC":1759843,"GRS":1739093,"DWC":1715928,"XVG":1711357,"GLD":1706913,"WBB":1681403,"BSD":1632695,"VTR":1595971,"OK":1568787,"CCRB":1561850,"ZCC":1551291,"XCN":1514659,"CNT":1468104,"PDC":1463715,"ATMS":1432923,"ICASH":1422376,"BASH":1419663,"BLOCKPAY":1417715,"BOST":1390471,"INPAY":1333300,"RISE":1315375,"BTA":1248277,"START":1239347,"XBB":1224590,"HUC":1131349,"DYN":1129739,"ADZ":1125713,"TAG":1113543,"CHC":1110817,"INSANE":1074251,"SEQ":1065803,"MER":1053420,"BITUSD":996388,"SRC":986725,"XRB":929965,"LOG":923308,"TIX":919923,"XSPEC":887905,"MINT":885897,"ICOO":881888,"ADCN":818511,"ABY":810214,"ADC":807421,"IXC":805475,"MUSIC":792186,"VISIO":776010,"TRIG":767121,"PUT":753043,"ZET":751216,"ESP":737099,"EFL":730404,"EXCL":715213,"HKG":703748,"CADASTRAL":681567,"QWARK":657749,"BLITZ":644251,"XMY":641587,"XHI":636950,"DEM":630046,"MED":613998,"ERC":587920,"COVAL":583660,"BITB":559650,"CSC":548465,"GEO":535134,"TRUMP":534282,"VRM":525498,"BTB":524901,"EL":524470,"XST":520442,"MAX":519809,"EGC":514712,"VLT":506012,"FCN":504753,"BTSR":486667,"TKS":481942,"RNS":469775,"UIS":446929,"UNIBURST":425648,"XTC":418681,"KORE":406123,"PTC":401420,"CANN":395151,"VOX":388518,"CPC":384427,"SYNX":377412,"SWIFT":376864,"MOIN":375636,"TRC":367185,"ATOM":361958,"TRUST":358754,"NSR":345101,"XMG":336411,"DRS":316770,"POST":316755,"CDN":311210,"XVP":306091,"J":305414,"I0C":292633,"RBT":290166,"ORB":284552,"SMC":265646,"XWC":257228,"MSCN":256978,"PROC":256743,"JWL":251869,"THC":251129,"MI":241342,"BLRY":237579,"PEPE":231271,"TOR":224643,"PSB":223241,"HUSH":221768,"TES":217451,"BLU":214995,"PRC":206070,"BYC":201159,"FC2":197873,"QTL":195218,"USNBT":194276,"MZC":179494,"MTM":177509,"DOT":168003,"DRACO":162408,"KRB":162233,"8BIT":155270,"ZER":153386,"SXC":141990,"INFX":141688,"GB":139618,"AMS":138557,"GCC":14060,"BTCR":132548,"KOBO":124557,"NETKO":123106,"MOJO":122827,"VIDZ":122319,"MAC":120633,"RBX":120162,"BITEUR":115415,"CNO":114385,"LTB":114266,"WYV":113446,"TIT":108434,"GAIA":104184,"FLT":99920,"BITBTC":98082,"PASL":97388,"CREVA":96047,"HPC":92727,"FST":75776,"MILO":73052,"HYP":71662,"TRI":71184,"LANA":68496,"LDOGE":66765,"CCN":66430,"ERY":63354,"IMS":62281,"BERN":61273,"ACOIN":59716,"CAP":58078,"WEX":58073,"ENT":56332,"BITSILVER":55820,"XRA":55554,"KED":54344,"GAP":53286,"FRC":50849,"ICOB":45286,"BLC":44100,"FRN":42478,"PHS":42225,"HXX":41767,"MCRN":39516,"TRK":38789,"HONEY":38739,"BSTY":36354,"NEVA":31889,"XCI":30704,"BIC":25398,"$$$":25016,"VOLT":22603,"BVC":21023,"EUC":16314,"SFC":14867,"CON":14710,"DUO":14339,"PIE":9173,"XBTS":8813,"ARGUS":8681,"JIO":7970,"MAR":7922,"FUZZ":7068,"BENJI":4726,"CXT":4647,"ELS":3579,"XNG":2789,"SNAKE":null,"GPL":null,"XBG":null,"JINN":4831204,"SLS":2660832,"DEX":1441680,"CAGE":1342301,"BPC":1228425,"ZEIT":1030092,"BRX":929475,"CASINO":855973,"BRK":767890,"PANGEA":699788,"DBIC":694980,"USC":674824,"SATOSHICARD":639462,"PND":593053,"CARBON":561480,"2GIVE":449534,"QORA":447113,"LTBC":418998,"XPY":403017,"ECC":396029,"XTO":381586,"SNRG":378612,"HTML5":369573,"CV2":357070,"MNM":345780,"YASH":296300,"REE":294187,"DSH":288320,"DOPE":270600,"GLC":267453,"RC":255363,"TALK":236897,"RAREPEPEPRTY":229070,"SWING":218347,"VLTC":203789,"BUCKS":203565,"HTC":200566,"ENV":189255,"PKB":184822,"SHORTY":184218,"DP":179405,"RBIES":176336,"PIGGY":167826,"CBX":141858,"FUND":140920,"TSTR":137558,"TSE":136753,"NKA":135886,"TROLL":131932,"BRIT":129084,"PIP":128425,"NOBL":125125,"SLG":124687,"BITS":123794,"BITZ":122991,"UNITS":120993,"XCT":116692,"COXST":116282,"NEU":113997,"GEMZ":113645,"HODL":113416,"FUNK":111545,"METAL":108037,"MXT":107845,"BTX":null,"ANC":105850,"DRAGON":103370,"LOT":101479,"PAK":98798,"UNB":97236,"FLY":96124,"NLC2":95057,"ZOI":92996,"SMLY":91358,"CORG":91332,"NET":86398,"STS":78889,"CJ":77459,"KLC":74655,"KTN":73199,"KURT":72465,"QCN":71674,"ALL":67844,"XPD":63029,"FJC":61203,"CHESS":59174,"WAY":57969,"GCN":56697,"GREV2":54640,"LEX":54441,"KUSH":54082,"EVO":53229,"AMBER":53034,"UFO":52404,"SPEX":52285,"CCM100":52063,"ZYD":51703,"TEK":51640,"ELE":51136,"PULSE":50889,"YAC":50611,"BUN":48989,"GRN":48401,"SPRTS":48204,"XRE":47073,"DLC":47007,"PXC":44970,"JIN":44908,"DBTC":42457,"CUBE":42223,"NTRN":42199,"ATX":41695,"TTC":40932,"HMC":40896,"ARG":40775,"NYAN":39139,"HBN":38015,"BIGUP":37242,"MAD":36491,"UNI":35251,"AU":35248,"GRT":34498,"GP":32280,"XPTX":31716,"SPACE":31486,"STV":30972,"ARCO":29949,"HZ":29721,"EMD":29646,"GUN":29563,"RED":29057,"BTD":28162,"PXI":27423,"C2":27353,"BOB":27228,"XJO":27010,"VEC2":27005,"EVIL":25868,"OCEAN":25761,"MST":25360,"HMP":24743,"XCO":24623,"PX":24559,"BIP":24389,"BIOS":24285,"UNIC":23552,"FIRE":23128,"U":22666,"DRM":22340,"CRX":21766,"AGLC":21697,"FRK":21016,"BITGOLD":20742,"BOLI":20243,"URO":20061,"IMX":18930,"CESC":18399,"LVPS":18166,"PONZI":18062,"FLVR":17856,"XLR":17815,"CWXT":17710,"CYP":17578,"CTO":17421,"URC":17296,"BUMBA":17169,"NEWB":16634,"ISL":16406,"RPC":15953,"MGM":15686,"ZUR":15644,"SLING":15580,"ARB":15316,"SOON":15223,"XCRE":14933,"SCRT":14858,"WMC":14809,"LUNA":14507,"DES":14454,"SONG":14390,"ZNY":13792,"PR":13634,"TGC":13499,"POP":13369,"AUM":13328,"MND":13044,"HAL":13006,"RIDE":12901,"UNIT":12612,"VC":12274,"GPU":11827,"TAJ":11788,"ANTI":11787,"FLAX":11593,"BSTAR":11505,"SPT":11339,"GBT":11246,"ORLY":11036,"DLISK":10944,"NYC":10918,"PLNC":10910,"ARI":10233,"QBK":10176,"LEA":10094,"BTQ":10050,"WORM":9310,"STEPS":9172,"VIP":9133,"LIR":8979,"SCS":8816,"WARP":8742,"B3":8703,"DIX":8403,"SDP":8347,"ASAFE":8292,"420G":8097,"G3N":7586,"XBTC21":7551,"EBT":7462,"ACP":7375,"OS76":7273,"ICON":7098,"CMT":6875,"CAB":6703,"BLZ":6589,"FDC":6517,"EGO":6431,"BSC":6378,"SCORE":6376,"JOBS":5884,"PHO":5756,"HVCO":5696,"PEX":5683,"MTLMC3":5660,"TAGR":5642,"HIRO":5629,"MEOW":5292,"VPRC":5245,"PRX":5131,"IBANK":4953,"ABN":4754,"ZNE":4672,"BXT":4371,"DPAY":4235,"IMPS":4062,"ALTC":4023,"XOC":4020,"SH":4008,"1CR":3897,"REV":3503,"BIOB":3263,"LTCR":3220,"CONX":3134,"XRC":2957,"SANDG":2861,"IMPCH":2726,"GEERT":2457,"CF":2331,"GUA":2143,"NODC":2082,"SLFI":1967,"CASH":1961,"P7C":1285,"PWR":912,"DOLLAR":806,"HAM":794,"ZHS":773,"TOKEN":640,"MBIT":583,"BOAT":392,"DGCS":319,"CRT":289,"PIZZA":266,"XEN":166,"CALC":110,"CSH":109,"WGC":55,"MUG":3,"SOAR":null,"CHAO":null,"AMIS":null,"XOT":null,"BTU":null,"ACCI":null,"MALC":null,"GUC":null,"XFC":null,"FRGC":null,"ECN":null,"ALT":null,"XDE2":null,"IOP":null,"YOG":null,"DCT":null,"TESLA":null,"PIO":null,"DMC":null,"TAAS":null,"TOPAZ":null,"THS":null,"BTG":null,"DTB":null,"LEO":null,"GAY":null,"TROPTIONS":null,"CLUB":null,"EB3":null,"TLE":null,"ZBC":null,"PCS":null,"WA":null,"APC":null,"GBG":null,"DEUS":null,"DIBC":null,"WEC":null,"TYC":null,"AXF":null,"FAZZ":null,"WGO":null,"IVZ":null,"LEC":null,"DTF":null,"BUK":null,"ACN":null,"ELC":null,"EDRC":null,"GARY":null,"RHFC":null,"DCRE":null,"OMC":null,"LDCN":null,"IEC":null,"MG":null,"XID":null,"HLB":null,"PI":null,"SHELL":null,"TP1":null,"GBC":null,"SAK":null,"DASHS":null,"BIT":null,"PSY":null,"XGR":null,"CNC":null,"BTCS":null,"PRES":null,"XAU":null,"EGG":null,"OPAL":null,"XQN":null,"ZSE":null,"MAVRO":null,"RYCN":null,"MMXVI":null,"BGC":null,"AV":null,"NBIT":null,"HNC":null,"TODAY":null,"TERA":null,"TRICK":null,"CLINT":null,"BCF":null,"CBD":null,"GML":null,"UTC":null,"UTA":null,"RICHX":null,"RAIN":null,"MOTO":null,"OCOW":null,"WSX":null,"BEST":null,"NTCC":null,"BLAZR":null,"VGINA":null,"ROYAL":null,"UR":null,"DBG":null,"BXC":null,"KASHH":null,"FUN":null,"ADT":null,"BURN":null,"AIB":null,"TIC":null,"DUB":null,"SKC":null,"GMF":null,"RUBIT":null,"FRWC":null,"QBC":null,"SPORT":null,"BRAIN":null,"TCOIN":null,"QBT":null,"XVS":null,"BAC":null,"OPES":null,"GMX":null,"LAZ":null,"PRM":null,"MARX":null,"XVE":null,"SKR":null,"OP":null,"GAIN":null,"HCC":null,"ASC":null,"CYC":null,"DISK":null,"LTH":null,"MBL":null,"MONETA":null,"PDG":null,"LKC":null,"TCR":null,"TEAM":null,"LFC":null,"DVC":null,"LEPEN":null,"WOW":null,"VGC":null,"MONEY":null,"PAYP":null,"UNC":null,"MOON":null,"FEDS":null,"GBRC":null,"GMB":null,"TELL":null,"POKE":null,"XSTC":null,"VAL":null,"CC":null,"X2":null,"CHOOF":null,"FFC":null,"HILL":null,"ACES":null,"CME":null,"SOUL":null,"STRB":null,"RCN":null,"VTY":null,"IFLT":null,"PBC":null,"YES":null,"XP":null,"DIME":null,"VTA":null,"NBE":null,"PAC":null,"BOND":null}}'
  recorded_at: Thu, 11 May 2017 11:29:04 GMT
recorded_with: VCR 3.0.3
