---
http_interactions:
- request:
    method: get
    uri: https://api.lionshare.capital/api/prices?period=hour
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '49'
      Rate-Limit-Reset:
      - '1494502203'
      Rate-Limit-Total:
      - '50'
    body:
      encoding: UTF-8
      string: '{"data":{"BTC":[1872.76,1872.43,1872.83,1871,1868,1860.92,1860.86,1860.05,1860,1850.98,1849.7,1841.98,1849.87],"ETH":[90.02,90.21,90.1,89.66,90.14,89.4,89.66,89.4,90.12,89.73,89.46,90.38,90.48],"LTC":[33.11,32.84,32.76,32.82,32.8,32.58,32.54,32.76,32.84,32.66,32.82,32.9,32.99],"REP":[18.2,18.2,18.2,18.14999997,18.10669688,18.10669685,18,18,17.99999964,17.96118495,17.93283935,17.91636225],"ZEC":[97.62304288,97.00000001,97.13195442,97.20570951,97.17278457,98,97.26158376,97.26158376,97.2,97.18177746,96.94073158,97.25033777],"XMR":[30.0178126,30.10000001,30.1,30.00099841,29.8,30.09999913,29.83,30.203232,29.90853191,29.7,29.98851278,29.88283634],"ETC":[6.42,6.45,6.4980123,6.47,6.49,6.45755021,6.48999955,6.42480234,6.45962521,6.3613576,6.45962447],"XRP":[0.181435,0.1818,0.1802,0.17895754,0.18269989,0.1805658,0.1811775,0.17990803,0.181,0.181,0.183257,0.183257],"DASH":[95.15391343,95.3,95.47282782,94.29805687,94.11469135,93.87940461,94.39349208,94.15750835,93.87940461,94.38248376],"STR":[0.02941729,0.02964902,0.029416,0.02931732,0.02940334,0.02940353,0.02954692,0.02947744,0.02999999,0.03003247,0.03042,0.02982012],"LSK":[0.5531801016,0.5553576854,0.5529401983000001,0.5529401983000001,0.5536968164,0.5474962388000001,0.5533830967,0.5534200049,0.5562434822,0.5554315018,0.5554499559,0.5554499559],"MAID":[0.3007280136,0.3009310087,0.3047694615,0.3038283024,0.30146617760000005,0.3047694615,0.30309013840000004,0.30309013840000004,0.304677191,0.3047879156,0.30504627300000003,0.30515699760000004],"FCT":[8.6077119499,8.5175821255,8.5184310141,8.620537549400002,8.6443433384,8.6443433384,8.7090618671,8.7316681396,8.7316681396,8.7472434,8.8322429846,8.8331472355],"XEM":[0.111647305,0.111647305,0.11179493780000001,0.1117764837,0.11212711160000001,0.11245928540000001,0.1124777395,0.1124777395,0.11257001,0.11245928540000001,0.11205329520000001,0.11231165259999999],"STEEM":[0.819465106,0.819465106,0.819465106,0.8222511916,0.8222511916,0.8220940000000001,0.8311659428000001,0.8311659428000001,0.8250490214,0.8222511916],"DOGE":[0.0011995165,0.0011995165,0.0012179706,0.0012179706,0.0012179706,0.0012179706,0.0012179706,0.0012364247,0.0011995165,0.0012364247,0.0012364247,0.0012364247],"BTS":[0.037277282,0.0371481033,0.0368528377,0.0368343836,0.036926654100000005,0.0372034656,0.0374802771,0.0377386345,0.0375540935,0.0380892624,0.0378124509,0.0377570886],"GAME":[0.9797097149,0.9796912608,0.9797097149,0.9797097149,0.9857442056000001,0.9857442056000001,0.9915572471000001,0.9915018848,0.9915018848,0.9857442056000001],"ARDR":[0.062190317,0.06252249080000001,0.06222722520000001,0.06222722520000001,0.0626701236,0.0626701236,0.0623564039,0.0635928286,0.0632052925,0.0632052925,0.0632052925],"DCR":[15.6490768,15.685985000000002,15.8112514308,15.8710611689,16.251012633800002,16.357160617,16.2264317726,16.0550485459,15.8312741293,15.685985000000002,15.758048260499999,15.758048260499999],"SJCX":[0.4677376186,0.4677376186,0.4677376186,0.47015510569999996,0.46923240070000005,0.4708563615,0.4793267934,0.49027007470000006,0.4905837944,0.4872251482,0.4905653403,0.4905653403],"SC":[0.0022329461,0.0022514002,0.0023067625,0.0022883084,0.0022883084,0.0022514002,0.0022514002,0.0023067625,0.0022698543,0.0022698543,0.0022883084,0.0022698543],"GNT":[0.22716997100000003,0.22698543000000002,0.2272991497,0.2265609857,0.2285540285,0.23150668450000003,0.23266929280000004,0.23416407490000002,0.23990329999999999,0.23975566720000002,0.23650774559999999,0.23650774559999999]}}'
  recorded_at: Thu, 11 May 2017 11:29:03 GMT
recorded_with: VCR 3.0.3
