---
http_interactions:
- request:
    method: get
    uri: https://api.lionshare.capital/api/prices?period=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Rate-Limit-Remaining:
      - '49'
      Rate-Limit-Reset:
      - '1494502029'
      Rate-Limit-Total:
      - '50'
    body:
      encoding: UTF-8
      string: '{"data":{"BTC":[1755,1780.32,1794.99,1781.91,1777.96,1782,1794.99,1785.54,1795.52,1843,1877.6,1880.91,1848.77],"ETH":[91.27,88.59,89.34,89.28,88.77,87.28,88.36,89.08,88.41,87.16,88.2,89.7,90.33],"LTC":[37.1,36.16,34.31,31.72,32.41,33.55,32.82,32.21,29.92,31.71,31.2,32.27,32.79],"REP":[16.30131923,16.49364323,16.51005534,16.99999995,17.1234869,17.21208978,17.4,18.34,17.63000001,18.56500002,18.4,17.7],"ZEC":[97.41000001,99,99.5903288,98.35146558,95,96.77646655,96.94073158,98.00100001,96.3,97.2324419,98.75200854,97.99],"XMR":[29.799255,30.08466353,30.14899963,30.5,30.20621214,30.0342059,30.26901928,30.374,29.74686025,29.83380947,29.95164,30.25],"ETC":[6.55,6.46852458,6.55356216,6.59999994,6.40000001,6.47611235,6.46592491,6.42868071,6.27721559,6.26499991,6.47481091,6.45962447],"XRP":[0.17765063,0.17199996,0.18052043,0.17963298,0.18341709,0.189874,0.17534879,0.17415569,0.17901893,0.174856,0.1788,0.181983],"DASH":[94.00000019,93,93,93.1203064,91.2,93,92.65199999,91.84717436,93.6,94.14403489,94.64983948,94.38248376],"STR":[0.03135,0.0302,0.03189747,0.03013,0.0308956,0.03203691,0.0299,0.0289,0.02950001,0.02899981,0.0297,0.03049999],"LSK":[0.5538141045,0.554608938,0.559636722,0.5508196155,0.5656257,0.5823911414999999,0.6000992925,0.582705378,0.5472151380000001,0.527769444,0.553388961,0.5563649655],"MAID":[0.314643159,0.3094490145,0.314864973,0.325105386,0.3192457995,0.32297966850000004,0.3203918385,0.316306764,0.301925823,0.292166007,0.2938850655,0.30554878500000004],"FCT":[9.1627481655,8.992173199500002,9.386503038,9.464027030999999,8.8171065,8.8925787135,9.077885826,8.7779008755,8.372110647000001,8.3532749415,8.544164373000001,8.8527631005],"XEM":[0.1136981595,0.110426403,0.118781397,0.114825714,0.12014925,0.116600226,0.1192065405,0.11386452000000001,0.1078570575,0.110278527,0.1112582055,0.11223788400000001],"STEEM":[0.8528416620000001,0.831036,0.8522229015,0.8725381185,0.868992666,0.8884940097,0.8698779,0.8689935693,0.8462520885,0.8584890936,0.7915048821,0.8221601742],"DOGE":[0.0013123995,0.0012754304999999999,0.001330884,0.0013123995,0.0012939149999999999,0.0012939149999999999,0.0012939149999999999,0.0012384615000000001,0.0011645235,0.0011645235,0.0012014925000000001,0.0012199770000000001],"BTS":[0.040444086000000004,0.040813775999999996,0.0429025245,0.040591962,0.040776807,0.042403443,0.0395383455,0.037042938000000004,0.036192651,0.0346584375,0.036414465,0.0378747405],"GAME":[1.0166475000000001,1.02441099,1.0500489915,1.0256124825,1.0193092680000002,1.0350026085000001,1.037904675,1.0443557655,0.9697338389999999,0.9656302800000001,0.9813605895,0.987368052],"ARDR":[0.06778266150000001,0.06765327,0.0671172195,0.067468425,0.067468425,0.0673760025,0.06608208750000001,0.06561997500000001,0.06427060650000001,0.06262548600000001,0.062274280499999994,0.0633094125],"DCR":[16.081515,16.2109065,16.0813116705,16.1820152265,16.2644560965,17.40315675,16.830100281,16.783926,15.711843484500001,15.5306769,15.624023625,15.7708829775],"SJCX":[0.4990815,0.49495945650000006,0.511946712,0.498748779,0.49475612700000005,0.4836099735,0.491022258,0.4990815,0.47823098399999997,0.46026405,0.46847116800000005,0.4913734635],"SC":[0.0023660160000000003,0.0022735935,0.0024769230000000002,0.0024954075,0.0024584385,0.0025693455,0.0024214695,0.0024029850000000003,0.0021996555,0.002292078,0.0021626865,0.002292078],"GNT":[0.23434649100000002,0.23103776550000002,0.24040940700000002,0.2366200845,0.23837611200000003,0.2268232995,0.2302614165,0.246361416,0.2230524615,0.2210931045,0.23475315,0.23715613500000002]}}'
  recorded_at: Thu, 11 May 2017 11:26:09 GMT
recorded_with: VCR 3.0.3
